<!--The content below is only a placeholder and can be replaced.-->

  <h1 class ="title"  >
  
  {{ title }}
  
  </h1>
  
  <div>
  
  <div class="container " class="shadow-lg p-3 mb-3 bg-white rounded">
  
  <table class= "table table-hover table-bordered table-striped table-responsive" >
  
  <tr>
  
  <th >asin</th>
  
  <th>overall_rating </th>
  
  <th>rating </th>
  
  <th>comment_count </th>
  
  <th>brand</th>
  
  <th>region</th>
  
  <th>month </th>
  
  <th>year </th>
  
  <th>review_url </th>
  
  <th>body </th>
  
  </tr>
 
  <!--using *ngFor to loop through the array of customerReviews
  
  and displaying each value of key  -->
  
  <tr *ngFor="let customerReview of customerReviews">
  
  <td>{{customerReview.asin}}</td>
  
  <td>{{customerReview.overall_rating}}</td>
  
  <td>{{customerReview.rating}}</td>
  
  <td>{{customerReview.comment_count}}</td>
  
  <td>{{customerReview.brand}}</td>
  
  <td>{{customerReview.region}}</td>
  
  <td>{{customerReview.month}}</td>
  
  <td>{{customerReview.year}}</td>
  
  <td><a href="{{customerReview.review_url}}">{{customerReview.review_url}}</a></td>
  
  <td>{{customerReview.body}}</td>
  
  </tr>
  
  </table>
  
  </div>
  
  

  
  
 
